name: Deploy Self-Hosted

on:
 push:
  branches: ["master"]

jobs:
 deploy:
  runs-on: self-hosted
  labels: [ prod ]

  steps: 
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Deploy with Docker Compose
      run: |
        docker compose down 
        docker compose up -d --build
      
